{% load static %}

<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}HeartReadr{% endblock %}</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <!-- Cropper CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <!-- Cropper JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-----------NAV BAR------------------>
    <nav class="pink darken-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{% url 'upload' %}" class="brand-logo">HeartReadr</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'upload' %}">Upload</a></li>
          </ul>
          <!-- Will switch to collapsed ver on mobile view -->
          <ul id="nav-mobile" class="sidenav">
            <li><a href="{% url 'upload' %}">Upload</a></li>
          </ul>
          <a href="{% url 'upload' %}" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <!-----------NAV BAR END-------------->
    <div class="section no-pad-bot" id="index-banner">
        {% block content %}
        <!-- Content for each individual page will go here -->
        {% endblock %}
    </div>
    
    <!-----------FOOTER------------------>
    <footer>
        <!-- Your footer goes here -->
    </footer>
    <!-----------FOOTER END-------------->

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>

</html>