{% extends "main/base.html" %}

{% load static %}

{% block title %}Draw box - {{ block.super }}{% endblock %}
{% block content %}


<div class="container">
  <h1 class="header center pink-text">Select OCR Area</h1>
  <div class="row">
      <div class="col s12 center">
          <img id="image" src="{{ first_frame }}" alt="First Frame" style="display: block; max-width: 100%;"> 
      </div>
  </div>
  <form id="coordinate-form" class="col s12" method="post">
      {% csrf_token %}
      <div class="input-field col s3">
          <input type="text" id="x" name="x" readonly />
          <label for="x">X Coordinate</label>
      </div>
      <div class="input-field col s3">
          <input type="text" id="y" name="y" readonly />
          <label for="y">Y Coordinate</label>
      </div>
      <div class="input-field col s3">
          <input type="text" id="width" name="width" readonly />
          <label for="width">Width</label>
      </div>
      <div class="input-field col s3">
          <input type="text" id="height" name="height" readonly />
          <label for="height">Height</label>
      </div>
      <button type="submit" class="btn-large waves-effect waves-light orange">Submit</button>
  </form>
</div>

{% endblock %}

{% block extra_js %}
<!-- Cropper CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />

<!-- Cropper JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script>
  var image = document.getElementById('image');
  var xInput = document.getElementById('x');
  var yInput = document.getElementById('y');
  var widthInput = document.getElementById('width');
  var heightInput = document.getElementById('height');

  var cropper = new Cropper(image, {
    viewMode: 1,
  });

  image.addEventListener('crop', function() {
      var coordinates = cropper.getData();
      xInput.value = coordinates.x.toFixed(0);
      yInput.value = coordinates.y.toFixed(0);
      widthInput.value = coordinates.width.toFixed(0);
      heightInput.value = coordinates.height.toFixed(0);
  });

  var form = document.getElementById('coordinate-form');
  form.onsubmit = function(e) {
      // The coordinates are already set by the 'crop' event handler
  };
</script>


{% endblock %}